
<div class="container">
    <h1>Cat&aacute;logo</h1>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="fp-label form-control">ID</div>
            <div class="fp-label form-control">Producto</div>
            <div class="fp-label form-control">Precio</div>
            <div class="fp-label form-control">IVA</div>
        </div>
        <div class="col-md-6 form-group">
            <input type="text" class="fp-input form-control" id="product_id">
            <input type="text" class="fp-input form-control" id="product_name">
            <input type="text" class="fp-input form-control" id="product_value">
            <input type="text" class="fp-input form-control" id="product_iva">
        </div>
        <div class="col-md-3">
            <div id="product_photo">PHOTO</div>
            <input type="submit" id="btn_product_photo" value="Seleccionar archivo">
        </div>
    </div>
</div>