.fp-label{
    margin-bottom: 2px;
}

.fp-input{
    margin-bottom: 2px;
}

#product_photo{

    height: 160px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#btn_product_photo{

    width: 100%;
}

.fp-form-btn{

    display: inline-block;
    vertical-align: top;
    margin: 4px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 4px;
    cursor: pointer;
}

.fp-form-btn-disabled {
    background-color: gray;
    cursor: default;
}

.fp-error{

    border: 1px solid red;
}

.fp-error-message{

    color: red;
    margin-bottom: 5px;
}

.fp-info-message{

    color: green;
    margin-bottom: 5px;
}

#product_id_row{

    display: inline-block;
    vertical-align: top;
    padding: 0px;
}

#automatic-id-button{

    display: inline-block;
    vertical-align: top;
    padding: 7px;
    cursor: pointer;
}